<form class="formwidth" #myForm="ngForm">
  <table class="fullwidth" cellspacing="0">
      <tr>
          <td>
              <mat-form-field class="fullwidth">
                  <input matInput placeholder="First Name" id="firstName" [(ngModel)]="data.firstName" name="firstName">
              </mat-form-field>
          </td>
          <td>
              <mat-form-field class="fullwidth">
                  <input matInput placeholder="Last Name" id="lastName" [(ngModel)]="data.lastName" name="lastName">
              </mat-form-field>
          </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="fullwidth">
            <input matInput value="" placeholder="Phone Number" id="phoneNumber" [(ngModel)]="data.phoneNumber" name="phoneNumber">
          </mat-form-field>
        </td>
          <td>
              <mat-form-field class="fullwidth">
                  <input matInput placeholder="E-Mail Address" id="bpid" [(ngModel)]="data.bpid" name="bpid">
              </mat-form-field>
          </td>
      </tr>
      <tr>
          <td>
              <mat-form-field class="fullwidth">
                <textarea matInput placeholder="position" id="position" [(ngModel)]="data.position" name="position"></textarea>
              </mat-form-field>
          </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="fullwidth">
            <textarea matInput placeholder="location" id="location" [(ngModel)]="data.location" name="location"></textarea>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td></td>
      </tr>
  </table>
  <p>
      <button mat-button type="submit" md-raised-button>Submit</button>
      <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
  </p>
</form>
