<div class="jumbotron">
  <button mat-fab color="primary">
    <mat-icon>add</mat-icon>
  </button>
  <mat-nav-list>
    <h3 matSubheader>This is the list of employees</h3>
    <mat-list-item *ngFor="let emloyee of employeeList">
      <img matListAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu">
      <h3 matLine> {{emloyee.firstName + ' ' + emloyee.lastName}} </h3>
      <p matLine>
        <span> Location </span>
        <span > {{emloyee.location}} </span>
      </p>
      <!-- <span matLine>{{emloyee.FirstName}}</span> -->
      <button mat-icon-button >
          <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button>
          <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>
</div>


