<div class="jumbotron">
  <div class="search">
    <mat-form-field>
      <mat-label>Search By</mat-label>
      <mat-select #fontSize value="16px" >
        <mat-option value="first_name">First Name</mat-option>
        <mat-option value="last_name">Last Name</mat-option>
        <mat-option value="contact_number">Contact Number</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-form-field">
      <mat-label>Type Here</mat-label>
      <input (input)="searchPosts($event.target.value)" matInput type="text" [(ngModel)]="value">
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button color="primary" (click) = "clearSearch()">Clear Search</button>
    <button mat-fab color="primary" mat-raised-button (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-fab color="primary" (click) = "deleteAllEmployees()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <mat-nav-list>
    <h3 matSubheader>This is the list of employees</h3>
    <mat-list-item *ngFor="let emloyee of employeeList" (click) = "viewEmployeeDialog(emloyee)">
      <img matListAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu">
      <h3 matLine> {{emloyee.firstName + ' ' + emloyee.lastName}} </h3>
      <p matLine>
        <span> Location </span>
        <span > {{emloyee.location}} </span>
      </p>
      <!-- <span matLine>{{emloyee.FirstName}}</span> -->
      <button mat-icon-button >
          <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button (click) = "deleteEmployee(emloyee)">
          <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>
</div>


